body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

/*container*/
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
}
/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 820px;

    position: relative;

    width: 100%;
    height: 100vh;
    background: url('../img/background__intro.png') center no-repeat;
    background-size: cover;
}
.intro__iner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__subTitle{
    margin: 0 0 20px 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
}
.intro__title{
    font-size: 150px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

}
.intro__title::after{
    content: '';
    display: block;
    background-color: #ffffff;
    width: 60px;
    height: 3px;
    margin: 60px auto;
}
.intro__button{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    text-decoration: none;
    border: 3px solid #ffffff;
    margin: 0;
    padding: 12px 30px;
    display: inline-block;
    vertical-align: top;
    transition: color .6s;
    transition: background-color .6s;
}
.intro__button:hover{
    background-color: #ffffff;
    color: black;
}
/*page*/
.page{
    overflow: hidden;
}
/*header*/
.header {
    padding: 30px 0 0 0;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__fixed{
    background-color: #eb8b8d;

    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0,0,0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}
.header.active{
    background-color: #eb8b8d;
}
.header__logo {

    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;

    text-transform: none;
}
.header__nav{
    text-transform: uppercase;
}

.header__nav-fixed{
    margin-top: 10px;
}
.header__nav-fix{
    padding-top: 10px;
}
.nav--toggle {
    padding: 10px 0;
    width: 30px;

    position: absolute;
    
    right: 30px;
    z-index: 1;

    cursor: pointer;

    display: none;

    transition: all .3s inherit 0s;
}

.nav--toggle-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;

    transition: background .3s linear;
}
.nav--toggle-item::after,
.nav--toggle-item::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .3s linear;
    transition: top .3s linear;
}
.nav--toggle-item::before{
    top: 8px;
}
.nav--toggle-item::after{
    top: -8px;
}
.nav--toggle.active .nav--toggle-item{
    background: none;
}
.nav--toggle.active .nav--toggle-item::after{
    top: 0;
    transform: rotate(-45deg);
}
.nav--toggle.active .nav--toggle-item::before{
    top: 0;
    transform: rotate(45deg);
}
.header__link{
    display: inline-block;
    vertical-align: top;

    margin: 0 15px;

    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    position: relative;

    transition: color .2s linear;
}
.header__link:hover{
    color: #fce38a;
}
.header__link.active{
    color: #fce38a;
}
.header__link::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fce38a;

    opacity: 0;

    left: 0;
    top: 100%;
    z-index: 10001;

    transition: opacity .2s linear;
}
.header__link.active:after{
    opacity: 1;
}
.header__link:hover:after{
    opacity: 1;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*slider*/
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider__inner{
    display: flex;
    justify-content: space-between;
}
.slider__item {
    position: relative;
    padding: 20px 0;
    margin: 20px 0 0 0;

    border-top: 3px solid #ffffff;

    width: 23%;

    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.7;
}
.slider__item.active{
    opacity: 1;
}
.slider__item.active:before{
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}
.slider__item span{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
/*logos*/
.logos__item img{
    width: 100%;
    height: auto;
}
/*section*/
.section {
    padding: 80px 0 80px 0;
}
.section--gray{
    background-color: #f8f8f8;
}
.section--clients{
    background-color: #f5f5f5;
    background: url('../img/clients/bag.png') center no-repeat;
    background-size: cover;

    margin-top: 6%;
}
.section--map{
    background-color: rgba(255,255,255,0.85);
    background: url('../img/map/bag.png') no-repeat;
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 65px 0 80px 0;
}
.section__header {
    margin: 0 auto 50px ;
    width: 100%;
    max-width: 950px;

    text-align: center;
}
.section__subtitle {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    margin: 0 0 20px 0 ;
}
.section__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}
.section__title::after {
    content: '';
    display: block;

    width: 60px;
    height: 3px;
    background-color: #f38181;

    margin: 30px auto;
}
.section__text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}
/*card*/
.card {
    display: flex;
    justify-content: space-between;
    margin: 60px -15px 20px -15px ;
    flex-wrap: wrap;
}
.card__item {
    width: 33.333%;
    padding: 0 15px;
    max-width: 410px;
}
.card__inner{
    background-color: #95e1d3;
    position: relative;
}
.card__item:hover .card__img img{
    opacity: .1;
}
.card__item:hover .card__img{
    transform: translate3d(-10px,-10px,0);
}
.card__item:hover .card__content{
    opacity: 1;

}
.card__img{

    transition: transform .3s linear;
    background: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
}
.card__img img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity .1s linear;
}
.card__content {
    width: 100%;

    text-align: center;
    position: absolute;

    opacity: 0;

    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .3s linear;
}
.card__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.card__info {
    margin-top: 20px;

    text-align: center;
}
.card__name {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}
.card__prof {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
/*statistics*/
.statistics{
    background-color: #95e1d3;
}
.stat {
    display: flex;
    flex-wrap: wrap;
}
.stat__item {
    flex: 1 1 0;

    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;

    padding: 70px 25px;

    border-left: 1px solid #b5eae0;
}
.stat__item:last-child{
    border-right: 1px solid #b5eae0;
}
.stat__count {
    font-size: 72px;
    font-weight: 700;
}
.stat__text {
    font-size: 14px;
    font-weight: 400;
}
/*services*/
.services {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    width: 33.33%;
    padding: 0 35px 40px 85px ;
    position: relative;

    margin-bottom: 30px;
}
.services__item-border{
    border-bottom: 1px solid #e5e5e5;
}
.services__icon {
    position: absolute;
    left: 28px;
    top:  0;
    z-index: 1;
}
.services__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;

    margin-bottom: 10px;
}
.services__text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}
/*devices*/
.section--devices {
    padding: 80px 0 0px 0;
    margin-top: 120px;
    background: url('../img/Unique-design/bag.png') center no-repeat;
    background-size: cover;
}
.devices{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.devices_ipad{
    display: block;
}
.devices_iphone{
    display: block;
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*wedo*/

.wedo{
    display: flex;
    margin:  0 -10px;
    flex-wrap: wrap;
}
.wedo__item{
    width: 50%;
    padding: 0 10px;
}
.wedo__img{
    display: block;
    max-width: 100%;
    height: auto;
}
.accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.accordion__item.active 
.accordion__content{
    display:block;
}
.accordion__item.active 
.accordion__header::after{
    transform:translateY(-50%)
    rotate(-45deg);
    top: 55%;
}
.accordion__item.active 
.accordion__header{
    border-bottom: 1px solid #e5e5e5;
}
.accordion__header {
    padding: 15px 20px 15px 60px;
    display: flex;
    border-bottom: 1px transparent #e5e5e5;
    position: relative;

    cursor: pointer;
}
.accordion__header::after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;

    position: absolute;
    top: 45%;
    right: 5%;
    z-index: 1;

    transform:translateY(-50%)
     rotate(135deg);
}
.accordion__icon {
    position: absolute;
    top: 25%;
    left: 20px;

    z-index: 1;
}
.accordion__content {
    display: none;

    padding: 15px 20px;

    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
/*revies*/
.revies {
    padding: 0 0px 10px 0;

    position: relative;
}
.revies .slick-slider{
    padding: 0 60px;
    
}
.revies__item {
    padding-left: 255px;
    position: relative;

    min-height: 210px;
}
.revies__photo {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;

    height: 210px;
    width: 210px;

    border: 3px solid #95e1d3
}
.revies__text {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
.revies__author {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
}
.revies__author::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}
.revies__btn,
.slick-arrow{
    font-size: 0;
    color: transparent;

    border: 0;
    background: 0;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.slick-arrow::after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;

    position: absolute;
    right: 2%;
    z-index: 1;

    transform:translateY(-50%)
     rotate(45deg);
}
.revies__btn--prev,
.slick-prev{
    transform:translateY(-50%)
     rotate(-180deg);
     left: 2%;
}
.revies__btn--next,
.slick-next{
    right: 0px;
}
/*social*/
.social {
    display: flex;
    justify-content: center;
}
.social__item {
    width: 55px;
    height: 55px;

    padding: 10px;

    background-color: #fce38a;
    border-right: 1px solid #f38181;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background-color .3s linear;
    transition: color .3s linear;
}
.social__item:last-child{
    border-right: 0;
}
.social__item:hover{
    color: #ffffff;
    background-color: #f38181;
}
/*works*/
.works {
    display: flex;
    flex-wrap: wrap;
}
.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
}
.works__item:hover .works__img{
    opacity: .1;
}
.works__item:hover .works__info{
    opacity: 1;
}
.works__img{
    transition: opacity .3s linear;
    display: block;
    width: 100%;
    height: auto;
}
.works__info {
    width: 100%;
    
    text-align: center;

    opacity: 0;
    transition: opacity .3s;

    position: absolute;
    top:50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%,0);
}
.works__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 5px;
}
.works__text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
}
/*clients*/
.clients {
    display: flex;
    flex-wrap: wrap;
}
.clients__item {
    width: 50%;

    padding: 0 45px 0 175px;
    position: relative;

    margin: 70px 0 50px 0;
}
.clients__img {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}
.clients__name {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 5px;
}
.clients__prof {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
}
.clients__text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}
.clients__text:before{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;

    margin: 15px 0;
}
/*blog*/
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog__item {
    width: 31%;
}
.blog__header {
    position: relative;

    margin-bottom: 14px;
}
.blog__photo {
    display: block;

    max-width: 100%;
    height: auto;
}
.blog__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;

    text-align: center;
    background-color: #95e1d3;

    padding: 10px 15px;
}
.blog__date-day {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.blog__date-month{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    color: #ffffff;
}
.blog__title {
    margin-bottom: 10px; 

    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333; 
}
.blog__title a{
    color: inherit;
    text-decoration: none;
}
.blog__title a:hover{
    text-decoration: underline;
}
.blog__text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;

    margin: 0 0 14px 0;
}
.blog__footer {
    padding: 14px 0 0 0;
    border-top: 1px solid #e5e5e5;

    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
.blog__stat-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.blog__stat-icon{
    color: #95e1d3;
}
/*map*/
.map{
    text-align: center;
}
.map__title {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f38181;
}
.map__title a{
    color: inherit;
    text-decoration: none;
}
.map__title a:hover{
    text-decoration: underline;
}
.map__title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;

    margin: 15px auto 0;
}
.map__icon{
    margin: 0 0 10px 0;
}
/*footer*/
.footer{
    padding-top: 65px;

    background-color: #f8f8f8;
}
.footer__inner {
    padding-bottom: 65px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.footer__col {
    padding: 0 0 0 2%;
}
.footer__col-first{
    width: 40%;
}
.footer__col-second{
    width: 29%;
}
.footer__col-third{
    width: 31%;
}

.footer__logo {
    margin-bottom: 30px;

    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    color: #cccccc;
}
.footer__text{
    margin-bottom: 30px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}
.footer__social {
    margin-bottom: 25px;
}
.footer__social-hader {
    padding-bottom: 15px;
    font-style: 14px;
    color: #333;
    font-weight: 400;

    border-bottom: 1px solid #e5e5e5;
}
.footer__social-num {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
}
.footer__social-content {
    padding-top: 15px;

    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;

    margin-left: 10px;

    font-size: 18px;
    color: #95e1d3;

    transition: color .3s linear;
}
.footer__social-content a:hover{
    color:#1c5e52;
}
.footer__title{
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}
/*subscribe*/
.subscribe{
    width: 100%;
    max-width: 380px;

    display: flex;
}
.subscribe__input {
    width: 60%;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #e7e7e7;

    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #333;
}
.subscribe__input::placeholder{
    color: #cccccc;
}
.subscribe__btn {
    width: 40%;
    padding: 15px 34px;
    background-color: #95e1d3;

    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    height: 100%;
    border: 2px solid #95e1d3;

    transition: background-color .3s linear;
    transition: border .3s linear;
}
.subscribe__btn:hover{
    background-color: #2d7a6c;
    border: 2px solid #2d7a6c;
}
/*blogs*/
.blogs__item {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}
.blogs__img {
    width: 100%;
    height: auto;

    width: 120px;
    height: 80px;
}
.blogs__content {
    padding: 0 0 0 20px;
}
.blogs__title{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;

    text-decoration: none;
    transition: text-decoration .3s inherit;
}
.blogs__title:hover{
    text-decoration: underline;
}
.blogs__date{
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
/*instagram*/
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(88px*3);
}
.instagram__item {
    width: 33%;
    border: 1px solid #fff;
}
.instagram__item img{
    display: block;
    width: 100%;
    height: auto;
}
.footer__col-third{
    position: relative;
}
.instagram__viev{
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #333333;

    margin: 3% 0 0 0;
    transition: text-decoration .3s inherit;
}
.instagram__viev:hover{
    text-decoration: underline;
}
/*copyright*/
.copyright{
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;

    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;

    text-align: center;

    background-color: #f8f8f8;
}
.copyright span{
    color: #f38181;
}

@media(max-width: 1230px) {
    /*intro*/
    .intro__subTitle{
        font-size: 52px;
    }
    .intro__title{
        font-size: 120px;
    }
    /*revies*/
    .revies__text {
        font-size: 20px;
    }
}
@media(max-width: 990px) {
    /*intro*/
    .intro__subTitle{
        font-size: 32px;
    }
    .intro__title{
        font-size: 80px;
    }
    /*stat*/
    .stat{
        justify-content: center;
    }
    .stat__item{
        border: 1px solid #b5eae0;
        flex: none;
        width: 33%;
        padding: 30px 25px;
    }
    /*services*/
    .services__item{
        width: 50%;
        border-bottom: 1px solid #e5e5e5;
    }
    .services__item-border{
        border-bottom: 1px solid #e5e5e5;
    }
    /*revies*/
    .revies__photo {
        height: 150px;
        width: 150px;
        top: 0;

        display: block;
        margin: 0 auto 2%;
    }
    .revies__item {
        padding-left: 175px;
    }
    .revies .slick-slider {
        padding: 0 60px;
    }
    /*clients*/
    .clients{
        max-width: 600px;
        margin: 0 auto;
    }
    .clients__item{
        width: 100%;
    }
    /*footer*/
    .footer__col-first{
        width: 100%;
    }
    .footer__col-second{
        padding-top: 5%;
        padding-right: 1%;
        width: 50%;
    }
    .footer__col-third{
        padding-top: 5%;
        width: 50%;
    }
}
@media(max-width: 770px) {
    /*intro*/
    .intro{
        min-height: 650px;
        padding: 10px 0
    }
    .intro__subTitle{
        font-size: 28px;
    }
    .intro__title{
        font-size: 40px;
    }
    /*nav*/
    .header{
        padding: 10px 0 0;
        background-color: #eb8b8d;
    }
    .header__nav{
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;
        background-color: #eb8b8d;
        transition: margin .3s linear;
    }
    .header__nav.active{
        display: block;
        margin: 0;
        transition: display .3s linear;
    }
    .header__link{
        display: block;
        margin: 0;
        padding: 5px 20px;
       
    }
    .header__inner{
        margin-bottom: 10px;
    }
    .nav--toggle{
        display: block;
    }
    /*slider*/
    .slider__item{ text-align: center; font-size: 14px;}
    .slider__item span{font-size: 0;}
    /*section*/
    .section{
        padding: 40px 0;
    }
    .section--devices{
        padding: 20px 0 0 0;
        margin-bottom: 20px;
    }
    .section__header {
        margin-bottom: 30px;
    }
    /*card*/
    .card{
        justify-content: center;
    }
    .card__item{
        width: 100%;

        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card__item:last-child{
        margin-bottom: 0;
    }
    /*wedo*/
    .wedo__img{display: none;}
    .wedo__item{
    width: 100%;
    }
    /*revies*/
    .revies .slick-slider {
        padding: 0 50px;
    }
    .revies__photo {
        position: static;
    }
    .revies__item {
        padding-left: 0;
    }
    /*works*/
    .works__col {
        flex: none;
        width: 50%;
    }
    /*blog*/
    .blog__item{
        max-width: 380px;
        margin: 2% auto;
        width: 100%;
    }
    .footer__col-second{
        padding-top: 5%;
        padding-right: 0%;
        width: 100%;
    }
    .footer__col-third{
        padding-top: 5%;
        width: 100%;
    }
    
}
@media(max-width: 575px) {
    /*intro*/
    .intro__subTitle{
        font-size: 22px;
    }
    .intro__title{
        font-size: 40px;
    }
    /*slider*/
    .slider__item{ text-align: center; font-size: 12px;}
    /*section*/
    .section__header{
        margin-bottom: 50px;
    }
    .section__subtitle{
        font-size: 20px;
    }
    .section__title{
        font-size: 24px;
    }
    .section__title::after{
        margin: 20px auto;
    }
    /*stat*/
    .stat__item{
        width: 100%;
        border: 0;
        border-bottom: 1px solid #b5eae0;
    }
    .stat__item:last-child{
        border-bottom:0;
    }
    .stat__count{
        font-size: 52px;
    }
    /*.services*/
    .services__item{
        width: 100%;
    }
    .services__item:last-child{
        border-bottom: 0;
    }
    /*devices*/
    .devices{
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .devices_ipad{
        max-width: 320px;
        display: block;
    }
    .devices_iphone{
        max-width: 180px;
        display: block;
        position: absolute;
        bottom: -50px;
        right: -50px;
        z-index: 1;
    }
    /*revies*/
    .revies .slick-slider {
        padding: 0 40px;
    }
    /*works*/
    .works__col {
        width: 100%;
    }
    /*clients*/
    .clients__img{
        position: static;
    }
    .clients__item{
        padding-left: 0;
        padding-right: 0;

        text-align: center;
    }
    .clients__text::before{
        margin-left:  auto;
        margin-right:  auto;
    }
    /*subscribe*/
    .subscribe{
        flex-wrap: wrap;
    }
    .subscribe__input,
    .subscribe__btn{
        width: 100%;
        max-width: none;
    }
    .subscribe__btn {
        margin-top: 2%;
    }
}
@media(max-width:360px){
    /*slider*/
    .slider__item{ text-align: center; font-size: 11px;}
}
@media(max-width:320px){
    /*slider*/
    .slider__item{ text-align: center; font-size: 10px;}
}